[core]
	excludesfile = ~/tools/config/.gitignore
	editor = vim
[user]
	name = Olly Hayes
	email = olly.hayes@gmail.com
[push]
	default = current
[pull]
	rebase = true
[merge]
	ff = no
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	l = log --pretty=format:'%Cred%h %Cgreen%an %Creset%s %Cblue%ar' --graph -n 10
	lg = log --pretty=format:'%Cred%h %Cgreen%an %Creset%s %Cblue%ar' --graph
	ls = !git status && git l
	br = !git for-each-ref --sort=-committerdate refs/heads/ --format='   %(color: red)%(committerdate:short) %(color: cyan)%(refname:short) %(color: magenta)%(authorname)' --color --count=15 | sed '/Olly Hayes/ s/^   /-->/'
	bra = !git for-each-ref --sort=-committerdate refs/heads/ --format='   %(color: red)%(committerdate:short) %(color: cyan)%(refname:short) %(color: magenta)%(authorname)' --color | sed '/Olly Hayes/ s/^   /-->/'
	brr = !git for-each-ref --sort=-committerdate refs/remotes/origin  --format='   %(color: red)%(committerdate:short) %(color: cyan)%(refname:short) %(color: magenta)%(authorname)' --color --count=15 | sed '/Olly Hayes/ s/^   /-->/'
	brar = !git for-each-ref --sort=-committerdate refs/remotes/origin  --format='   %(color: red)%(committerdate:short) %(color: cyan)%(refname:short) %(color: magenta)%(authorname)' --color | sed '/Olly Hayes/ s/^   /-->/'

	# this one has duplicates in and is used for fzf, but maybe that's okay for now
	# now it's not actually used, I have separate shortcuts
	# bboth = !git for-each-ref --sort=-committerdate refs/heads refs/remotes/origin  --format='   %(color: red)%(committerdate:short) %(color: cyan)%(refname:lstrip=-1) %(color: magenta)%(authorname)' --color | sed '/Olly Hayes/ s/^   /-->/'

[http]
	#proxy = http://localhost:8888
