[core]
	excludesfile = ~/tools/config/.gitignore
	editor = vim
[user]
	name = Olly Hayes
[push]
	default = current
[pull]
	rebase = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	l = log --pretty=format:'%Cred%h %Cgreen%an %Creset%s %Cblue%ar' --graph -n 10
	lg = log --pretty=format:'%Cred%h %Cgreen%an %Creset%s %Cblue%ar' --graph
	ls = !git status && git l
	b = for-each-ref --sort=-committerdate refs/heads/ --format='%(color: red)%(committerdate:short) %(color: cyan)%(refname:short) %(color: magenta)%(authorname)' --count=15
	br = for-each-ref --sort=-committerdate refs/heads/ --format='%(color: red)%(committerdate:short) %(color: cyan)%(refname:short) %(color: magenta)%(authorname)'
	ba = for-each-ref --sort=-committerdate refs/heads/ refs/remotes/origin --format='%(color: red)%(committerdate:short) %(color: cyan)%(refname:short) %(color: magenta)%(authorname)' --count=15
	bra = for-each-ref --sort=-committerdate refs/heads/ refs/remotes/origin --format='%(color: red)%(committerdate:short) %(color: cyan)%(refname:short) %(color: magenta)%(authorname)'
[http]
	#proxy = http://localhost:8888
